body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #edaeed;
}

p {
  font-size: 20px;
  margin: 0 40px;
}

img {
  max-width: 600px;
  border-radius: 30px;
}

main {
  text-align: center;
}

button {
  border: none;
  border-radius: 16px;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 16px;
  background: #e4e4;
  color: #404040;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background: #46234644;
}
